/*@version 20151022*/
.wg_marquee {
  overflow: hidden;
  position: relative;
}
.wg_marquee .twitch_box {
  position: absolute;
  top: 0;
}
.wg_marquee .item {
  padding-left: 4px;
  white-space: nowrap;
  width: 100%;
  color: #cb1b56;
  font-size: 16px;
}
