.w_cardlottery{
    width:306px;
    padding:20px;
}
.w_cardlottery .btn.loading{
    color: #63655e;
    cursor:wait;
}
.w_cardlottery .card{
    width:100px;
    height:130px;
    float:left;
    color:#404040;
    background:#fff;
    overflow:hidden;
}
.w_cardlottery .active{

}
.w_cardlottery .card_inner{
    width:100px;
    height:130px;
    position:relative;
}
.w_cardlottery .active .card_inner{
    zoom:1.1;
    left:-5%;
    top:-5%;
}